@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(26, 25, 25);

}

:root{
    --bg-color: #000000;
    --second-bg-color: #000000;
    --text-color: #fff;
    --main-color: rgb(7, 235, 129);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

.header{
    height: 10vh;
    width: 100%;
}
.html{
    font-size: 62.5%;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 27%;
    padding-right: 10%;
    transition: .3s;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--main-color);
    transition: .3s;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/image5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .home-content{
    text-align: center;
    width: 60rem;
}

.home .home-content h1{
    color:var(--text-color);
    font-size: 3rem;

}
